@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i {
  /* Removed color override to use native icon colors */
}

.software-skill-inline > i:hover {
  /* Keep native icon colors on hover */
}
.software-skill-inline > p {
  color: $subTitle;
  font-size: 14px;
  font-weight: bold;
}
.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}
